<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="app">
        <input type="text" v-model="x">
        <input type="text" v-model="y">
        <h2>{{plusXY}}</h2>


        <h1>{{x}}</h1>
        <h1>{{y}}</h1>
        <h1>{{y*2}}</h1>
        <br>
        <h1 v-if="score>=60">及格</h1>
        <h1 v-if="score &lt 60">不及格</h1>

        <h1 v-show="score >= 60">及格show</h1>
        <h1 v-show="score &lt 60">不及格show</h1>
        <p v-for="item in list">{{item.Id}}:{{item.Name}}</p>

        <input type="text" v-model="inputtext">
        <p> {{inputtext}}</p>
        <p> {{inputtextMsg}}</p>

        <button v-on:click="SayHi">Click Me</button>





    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
<script>
    var app=new Vue({
        el:'#app',
        data:{
            x:40,
            y:10,
            score:59,
            list:[
                {Id:1,Name:'john'},
                {Id:2,Name:'mary'},
                {Id:3,Name:'wen'}
            ],
            inputtext:'',
            inputtextMsg:'',
        },
        methods:{
            SayHi:function(){
                alert(this.x)
            }
        },
        watch:{
            inputtext:function()
            {
                this.inputtextMsg=`有人動他${new Date()}`;
            }
        },
        computed:{
            plusXY:function(){
               return parseInt(this.x)+parseInt(this.y)
            }
        }
        
    

    });
</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>