* {
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

.modal-body {
    width: 520px;
    height: 600px;
    border: 1px solid #666;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background-image: url(https://walpa.tw/upload/save_image/11191700_5dd3a12367c5f.jpg);
    background-size: cover;
}

i {
    color: #000;
}



.account input {
    font-size: 14px;
    border: 1px solid#ccc;
    border-radius: 3px;
    background-color: rgba(246, 245, 245, 0.849);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 258px;
    height: 36px;
}

.name input {
    font-size: 14px;
    border: 1px solid#ccc;
    border-radius: 3px;
    background-color: rgba(246, 245, 245, 0.849);
    margin-top: 10px;
    width: 126px;
    height: 36px;
}

.date input {
    font-size: 14px;
    border: 1px solid#ccc;
    border-radius: 3px;
    background-color: rgba(246, 245, 245, 0.849);
    margin-top: 10px;
    width: 258px;
    height: 36px;
}

.modal-body img {
    width: 75px;
    height: 125px;
}

.modal-body .login {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    width: 258px;
    font-size: 14px;
    padding: 5px;
    background-color: rgba(246, 245, 245, 0.849);
}

.other {
    margin: 15px auto;
    width: 258px;
}

.other i {
    font-size: 50px;
}

.other .fa-facebook {

    color: #3b5998;
}

.other .fa-google-plus {
    color: #dd4b39;
}

.linear {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.linear .line {
    display: inline-block;
    width: 30%;
    border-top: 1px solid #666;
}

.linear .txt {
    font-weight: 600;

    color: #666;
    vertical-align: middle;
}

.sign_up a {
    text-decoration: none;
    font-weight: 600;
}